.imagetiles .img-wrap {
  width: 200px;
  height: 200px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  vertical-align: top;
  position:  relative;
  display:  inline-block;
}
.imagetiles .img-wrap img{
  position:  absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
    object-fit: cover;
}
body {
  max-width: 800px;
  margin: 0 auto;
}
.nav a {
  text-decoration: none;
  color: blue;
  padding: 10px;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}
.nav a:hover {
  text-decoration: underline;
}
.image { opacity: 0; transition: opacity 1.0s; }
.image-loaded { opacity: 1; }
.imagetiles {
  max-width: 800px;
  margin: 0 auto;
}
html h3 {
  padding: 20px;
  text-align: center;
  font: 400 49px/0.8 'Cookie', Helvetica, sans-serif;
  font-family: Cookie, Helvetica, sans-serif;
}

.imagetiles .img-wrap:hover {
  z-index: 1000;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
      transform: scale(1.1);
}
.single-photo, .image-wrap {
  position: relative;
  text-align: center;
}
.image-wrap {
  text-align: center;
  display: inline-block;
}
.single-photo img {
  max-width: 100%;
  max-height: 80vh;
  vertical-align: bottom;
}
.single-photo .hover-text {
  display: none;
}

.image-wrap:hover .hover-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  font-size: 20px;
  color: white;
}
.opacity {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  position:  absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.image-wrap:hover .opacity{
  background: black;
  opacity: .4;
}

@media (max-width: 450px) {
  .imagetiles img {
    width: 100%;
    height: auto;
  }
}
